body {
    background-image: url(./assets/bg-intro-desktop.png);
    background-color: #FF7979;
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.pageContainer {
    display: flex;
    height: 100vh;
}

.introTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50%;
}

.introText {
    width: 60%;
}

.introText-title {
    font-size: 3.5rem;
    margin: 0;
}

.introText-para {
    font-size: 1.1rem;
}


.form-topText {
    background-color: #5E54A4;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);; 
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
    width: 65%;
    margin: 0 0 1rem 0;
}

.form-topText span {
    font-weight: 600;
}

.formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    height: 60vh;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2); 
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.form-input {
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    border: rgb(179, 179, 179) 1px solid;
}

.form-input:focus {
    outline: none;
    border-color: #5E54A4;
}

.form-input::placeholder,
.form-input {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.form-button {
    width: 85%;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: #38CC8B;
    border: none;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px 0px #21ac70; 
    box-shadow: 0px 5px 0px 0px #1a925e; 
    font-size: 16px;
    font-weight: 600;
}

.form-button:hover {
    background-color: #77E2B3;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 0px 0px #62BB94; 
    box-shadow: 0px 5px 0px 0px #62BB94; 
}


.form-terms {
    color: rgb(175, 175, 175);
}

.form-terms span {
    color: #FF7979;
    font-weight: 600;
}


@media only screen and (max-width: 768px) {
    .pageContainer {
        flex-direction: column;
    }

    .formContainer,
    .introTextContainer {
        width: 100%;
    }

    .introText {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introText-title {
        font-size: 1.7rem;
        text-align: center;
        width: 90%;
        margin-top: 2rem;
    }

    .introText-para {
        font-size: 1rem;
        text-align: center;
    }

    .form {
        width: 90%;
        margin-bottom: 2rem;
        padding: 1rem 0;
    }

    .form-input {
        padding: .75rem;
    }

    .form-terms {
        width: 80%;
        text-align: center;
    }
    
  }